{%block container %}
    <div class="container">

        <form class="form-signin" method ="POST" action="{{path('mipa_session_homepage')}}" data-validate="parsley">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" id="username" class="input-block-level" name="username" placeholder="Username" data-trigger="change" data-required="true" data-type="email">
            </br>
			<input type="password" class="input-block-level" name="password" placeholder="Password" data-trigger="change" data-required="true">
            </br>
			<label class="checkbox">
                <input type="checkbox" name="remember" value="remember-me"> Remember me
            </label>
            </br>
			<button class="btn btn-large btn-primary" type="submit">Sign in</button>
            <a href="{{path('mipa_user_new')}}" >Sign Up</a>
        </form>

    </div> 
    {% if name is defined%}
    <div class="alert-info fade in">
        <strong>{{name}}</strong>
    </div>
    {%endif%}
{%endblock%}